project/boot
target
.ensime
.ensime_lucene
.ensime_cache
.ensime_snapshot
ensime.sbt
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.idea_modules
.DS_Store
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
# Auto-copied by sbt-microsites
docs/src/main/tut/contributing.md
.ignore
result*
project/metals.sbt
.bloop/
.metals/
project/.bloop/
elm-stuff/
*elm.js
*Main.js
.parcel-cache/
dist/
node_modules/
